<div class="container">
    <div class="row">
        <div class="height d-flex justify-content-center align-items-center col-md-6 mx-auto">
    
            <div class="card p-3">
                
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="mt-2">
                        <h4 class="text-uppercase">{{chosenProduct.productName}}</h4>
                        <div class="mt-5">
                            <h5 class="text-uppercase mb-0">{{chosenProduct.productMatt}}</h5>
                            <h1 class="main-heading mt-0">{{chosenProduct.productCategory}}</h1>
                            <div class="d-flex flex-row user-ratings">
                                <div class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                </div>
                                <h6 class="text-muted ml-1">{{chosenProduct.productRate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <img src="{{chosenProduct.productImg}}" width="200">
                    </div>
                </div>
                
                <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                    <span>Available colors</span>
                    <div class="colors">
                        <span *ngFor="let item of chosenProduct.productColors" [ngStyle]="{'background-color': item}">

                        </span>
                    </div>
                    
                </div>
                
                
                <p>A great option weather you are at office or at home. </p>
                
                <button class="btn btn-danger">Add to Cart</button>
            </div>
            
        </div>
    </div>
</div>